SUBJECT: Your Application for Software Engineer - Applications at TechCorp
FROM: TechCorp Recruiting <notification@smartrecruiters.com>
BODY: Hi Applicant,

Thank you for your interest in TechCorp. We have received your application for the following position: Software Engineer - Applications.

What happens next? If your skills and experience are a strong match for the role, a member of our team will reach out to you to schedule some time for a conversation.

Best,
The TechCorp Talent Acquisition Team


Access My Application
If you were not expecting this message you can report suspected suspicious activity to SmartRecruiters, An SAP company (contactsupport@smartrecruiters.com).
Please do not share or forward this email, as it pertains to your specific job application