SUBJECT: ECommerceCo Software Engineer Assessment Invitation – REMINDER

FROM: noreply@ecommerceco.jobs 

BODY: Hi John,
Thank you for your interest in ECommerceCo’s Software Engineer opportunities! We would like to invite you to complete our online assessment, the first step of our recruitment process. Your time investment for the online assessment should take about 2.5 hours. To progress in the recruitment process, please complete the assessment within 7 days of receiving this email.

To begin the assessment, please read the instructions and follow the link below.

Overview
We encourage you to complete all sections of the assessment in one session. Once the 135-minute Coding Challenge timer starts, it doesn’t stop – even if you exit. If you need to take a break, the best time to do it is after the Coding Challenge. You don’t need to exit the assessment to take a quick break between sections. If you do exit out of the assessment, your work will be saved. When you return, you will start from where you left off. Remember, you must complete all 2 sections below before we can consider you for an Software Engineer role.

Coding Challenge: this timed section takes 135 minutes; work through 2 coding problems and explain your approach
ECommerceCo Work Style Survey: typically takes 5 minutes; answer questions about how you approach work in general
Once you’ve completed the assessment, you’ll see a confirmation screen verifying that all your responses have been received. Then, you’ll complete a 1 minute Feedback Survey.

What about trying out a demo first?
The Coding Assessment Demo is optional to help you get familiar with the platform before starting the actual assessment. You can use it as part of your preparation.

Instructions (please read before you begin the assessment):
Do not click the Start My Assessment link below until you're ready to start and complete the assessment.
Set aside at least 2.5 hours in a quiet location where you can focus.
Make sure your internet connection is stable.
Use the latest version of Google Chrome, Firefox or Safari.
Respond to the acknowledgement that you'll complete the assessment without external assistance or resources.
During the coding challenge:
You may select from any of the following languages: C, C++, C++14
Find supported compiler versions here.
Manage your time effectively by checking the on-screen timer regularly.
Complete the entire coding challenge in one sitting - the timer can't be paused once you start the coding challenge.
We value the people we hire and appreciate your interest in ECommerceCo! Please email your recruiter if you have further questions.

Ready to go?
Start My Assessment