SUBJECT: TechCorp Interview - Wednesday, January 15

FROM: <recruiting@techcorp.com>

BODY: OK — we’re all set. 

 
Hi John,


I’d like to confirm your interview for the Software Engineer role. Please reply to this email to let me know that you’re available. Here are the interview details:



 Schedule

Please note that interview details are subject to change. To prepare, you may want to take a look at our interview tips. Wear whatever you think presents your best self in a work setting.



Details
Wednesday, February 1, 2025

Your interview will take place on Webex: