SUBJECT: You have 2 new invitations

FROM:  SocialNetwork <notifications@socialnetwork.com> 

BODY: 
SocialNetwork	
Messaging icon	Mynetwork icon	Notifications icon
Mail open icon	
You have 2 new invitations
View invitations
